
header {
margin-bottom: 50px;
padding-bottom: 75px;
text-align: center;
font-size: 72px;
color: white;
padding-top: 75px;
margin-top:-50px;
font-family: 'Book Antiqua', serif;
background-color: #585858 ;
width:100%;
z-index: 1;
position: relative;
font-weight: 100px;
border-bottom: 10px;
border-style: solid;
border-color: #90fe67 ;
width: 100%;

}

.otherH {

	left: 50px;
	font-size: 24px;
	width: 10%;
	position: absolute;
}

.logo {


top: 30px;
left: 70px;
	width: 5%;
	z-index: 2;
	position: absolute;
}

.titleIt {

	color: #7b30fc;
}
h1, h2{

	font-family: "Georgia", serif;
	font-size:1.7em;
	font-style: none;
	color: #585858;
	font-style: bold;

}


a, p, footer, form, body 
{

	font-family:"Georgia", sans-serif;
	font-size: 16px;
	color: #808080;
	
}

p, footer,
body {

color: #606060;

}
#formLog{
color: #e768ff;

}

body {

	background-color: #f8f8f8;
	margin-top: 50px;
}

#popupbox{

padding-top: 10px; 
width: 20%; 
height: 300px; 
margin-top:100px;
background: #606060;  
visibility: hidden;



}

.btn {

background-color: #f8f8f8;
border-style: none;
}

.btn:hover {

	text-decoration: none;
	background: #f8f8f8;
	border-style: none;
}

.btn:visited {

	background: #f8f8f8;
	text-decoration: none;
	  border-style: none;
}

.login {

	color: #8fffff;
}


.this {

	border-style: none;
	background-color: #f8f8f8;
}

#loginClass {
	border-style: none;
	background: #606060;
	color: #e59556;
}

#formBox {


font-family: "Georgia", serif;
width: 400px;
height: 250px; 
background: #f8f8f8;   
color: #606060;

}

#submitButton {

width: 100px;
color: #8fffff ;
background-color:#606060; 


}

.spiral {
float: center;

}

#thanks
{

	text-align: center;
	margin: 10px;
}

#mainImg
{

float: center;
margin:0px;
margin-top: -350px;
visibility: visible;
}

#mainParagraphs
{

	margin-right: 500px;
	
}

h1 {

	font-weight: 500;
}


a {
    color: #e768ff;
    text-decoration: none;


}


/* mouse over link */
a:hover {
    color: #90fe67;
}

/* selected link */
a:active {
    color: #0000FF;
}

ul {

	list-style-type: none;
	margin-left: 0px;
}

.subheader
{
	font-family:"Georgia", serif;
	font-size: 1.2em;
	margin-bottom: 20px;
	color:#e59556;
}

.test {

	color: #d9263c;
}


footer {

color: #e59556;
	text-align: center;
	margin-top: 500px;
	margin-bottom: 20px;	
	position: relative;
}



