
header {

background-color: #585858;
margin-bottom: 50px;
padding-top: 20px;



}



.titleIt {

	color: #7b30fc;
}
h1, h2{

	font-family: "Book Antiqua", serif;
	font-size:1.5em;
	font-style: none;
	color: #d9263c;


}


a, p, footer, #popupbox, form, body 
{

	font-family:"Geneva", sans-serif;
	font-size: 14px;
	
}

p, footer,
body {

color: #606060;

}
#formLog{
color: #8fffff;

}

body {

	background-color: #f8f8f8;
}

#popupbox{

padding-top: 10px; 
width: 20%; 
height: 250px; 
margin-top:100px;
background: #606060;  
visibility: hidden;
color: #e768ff;


}

.this {

	border-style: none;
	background-color: #f8f8f8;
}

#loginClass {
	border-style: none;
	background: #606060;
	color: #e59556;
}

#formBox {


font-family: "Book Antiqua", serif;
width: 400px;
height: 250px; 
background: #FBFBF0;   
color: #F8F8F8;

}

#submitButton {

width: 100px;


}

.spiral {
float: center;

}

#thanks
{

	text-align: center;
	margin: 10px;
}

body {

}
#mainImg
{

float: center;
margin:0px;
margin-top: -300px;
visibility: visible;
}

#mainParagraphs
{

	margin-right: 500px;
	
}

h1 {

	font-weight: 500;
}


.who {
    color: #7b30fc;
    text-decoration: none;

}

.projects {
	color:#7b30fc;

}

.social {
color:#7b30fc;
}

.finally {
color:#7b30fc
}

/* mouse over link */
a:hover {
    color: #90fe67;
}

/* selected link */
a:active {
    color: #0000FF;
}

ul {

	list-style-type: none;
	margin-left: 0px;
}

.subheader
{
	font-family:"Book Antiqua", serif;
	font-size: 1.2em;
	margin-bottom: 20px;
	color:#e59556;
}




footer {

color: #7b30fc;
	text-align: center;
	margin-top: 500px;	
	position: relative;
}

