---
layout: default
---

<div class="grid-two-thirds float-center">
<h1 class="what"> What we are </h1>

The Institute for Parafunctional Exploration takes the common functionality of an object or system and completely disregards it in order to reach conclusions and discoveries based off profound insight into alternative modes of perception and recognition. Whether through paradigms, fields of research, or methods of communication, IPE looks beyond conventions and the obvious and into new realms – or reimagines old ones.  

<br><br>
<ul>
{% for post in site.posts reversed %}
	{% if post.category == "about" %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
	{% endfor %}
</ul>
here.
<br>
<h1 class="projects"> Projects </h1>

Our members are may find a home for their <a href="projects">projects</a> via IPE. We host any range of creations. The more outlandish, the merrier.
<br><br>
<div class="row">
{% for post in site.posts %}
				 {% if post.category == "projects" %}

				 <div class="grid-img">
				 <p><a href="{{ post.url }}"><img src="{{ post.image }}"></a></p>
				 </div>
					{% endif %}
				{% endfor %}
</div>
<br><br><br>
<h1 class="socialize"> Social </h1>

IPE hosts constant cyber communication, and occasional human-to-human events. Keep up with the latest announcements and conversation <a href="social">here</a>.

<br><br><br>
<h1 class="finally"> And finally </h1>
Wondering what inspires institutions like IPE?<br>
<a href="resources">Here</a> is a list of further resources.
<br>

</div>