<div class="grid-third float-center">


    <footer>
        <button class="btn" onclick="goBack()"><img src="/img/spiralSmall2.png"></button><br>
      @2014 Kayla Lewis
    </footer>
</div>


    <script src="/js/kraken.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- (Via HTML5 Boilerplate: http://html5boilerplate.com/) -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
            function goBack() {
    window.history.back()
}
        </script>

    </body>

</html>
