
header {
font-family:"Book Antiqua", serif;
font-size:2.5em;
margin-bottom: 50px;
margin-top: 50px;
text-align: center;
color: #606060;


}

h1, h2{

	font-family: "Book Antiqua", serif;
	font-size:1.7em;
	font-style: none;
	color: #606060;


}


a, p, footer, #popupbox, form, body 
{

	font-family:"Geneva", sans-serif;
	font-size: 14px;
	
}

p, footer,
body {

color: #606060;

}
#formLog{
color: #e0e0e0;

}

body {

	background-color: #f8f8f8;
}

#popupbox{

padding-top: 10px; 
width: 20%; 
height: 250px; 
margin-top:100px;
background: #606060;  
visibility: hidden;
color: #e0e0e0;


}

.this {

	border-style: none;
	background-color: #e0e0e0;
}

#loginClass {
	border-style: none;
	background: #606060;
	color: #e768ff;
}

#formBox {


font-family: "Book Antiqua", serif;
width: 400px;
height: 250px; 
background: #FBFBF0;   
color: #F8F8F8;

}

#submitButton {

width: 100px;


}

body {

}
#mainImg
{

float: center;
margin:0px;
margin-top: -250px;
visibility: visible;
}

#mainParagraphs
{

	margin-right: 500px;
	
}

h1 {

	font-weight: 500;
}


a {
    color: #e768ff;
    text-decoration: none;

}

/* visited link */
a:visited {
    color: #e768ff ;
}

/* mouse over link */
a:hover {
    color: #90fe67;
}

/* selected link */
a:active {
    color: #0000FF;
}

ul {

	list-style-type: none;
	margin-left: 0px;
}

.subheader
{

	font-size: 1.2em;
	margin-bottom: 20px;
}




footer {

color: #7b30fc;
	text-align: center;
	margin-top: 500px;	
	position: relative;
}

